@using DemoBlog.Application
@model List<DemoBlog.Models.Entry>

@{
    ViewBag.Title = "title";
}

<h3>My Demo Blog</h3>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
@Html.RouteLink("New Post", "NewEntry", new { }, new { @class = "btn btn-default" })
<div class="row">
    @foreach (var entry in Model)
    {
        if (Model.IndexOf(entry) != 0)
        {
            if (Model.IndexOf(entry)%3 == 0)
            {
                <div class="clearfix visible-md visible-lg"></div>
            }
            if (Model.IndexOf(entry)%2 == 0)
            {
                <div class="clearfix visible-sm"></div>
            }
        }
        
        <div class="col-sm-6 col-md-4">
            <h2>@entry.Title</h2>
            <p>@entry.Content.TransformMarkdown()</p>
            <p><a class="btn btn-default" href="/Home/Entry/@entry.Slug" title="View Entry">View details &raquo;</a></p>
        </div>

    }
</div>
